@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-background-light: #F9F9F9;
  --color-text: #49454F;
  --color-border: #000000;
  --color-border-soft: #E6E6E6; 

  --color-accent: #FFDE67;
  --color-accent-soft: #FFF5D1;
  --color-accent-strong: #DB9729;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root::before {
  content: "";
  position: fixed;

  inset: 0;

  background-image: url("assets/halftone-pattern.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 800px;

  opacity: 0.10;
  transform: scale(-1, 1) translate(0px, 0px);
  
  z-index: -1;
  pointer-events: none;
}

h1 {
  font-size: 2.1em;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
}

h6 {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

/* Global Styling for all Table Components */

th {
  border: 1px solid var(--color-border-soft);
  padding: 0.5rem 0.75rem;
  text-align: left;
  background-color: var(--color-background-light);
}

td {
  border: 1px solid var(--color-border-soft);
  padding: 0.5rem 0.75rem;
  background-color: inherit;
}